.container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.graph {
  min-height: 80%;
  width: 90%;
  display: flex;
  align-items: flex-end;
  border: 1px solid gray;
  background-color: gray;
}

.mini-div {
  width: 10%;
  background-color: palevioletred;
  border: 1px solid black;
}
.highlighted-mini-div {
  width: 10%;
  border: 1px solid black;
  background-color: pink;
  transition: 0.02s;
}

.height-text {
  text-align: center;
  color: green;
  font-weight: 500;
}

.height-text-selected {
  text-align: center;
  color: green;
  font-weight: 800;
  font-size: 1.2rem;
}
